<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodetree.v2bodetree">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/citywideicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/citywideicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppActivity"
            android:label="CityWide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <receiver
            android:name=".AppAdminReceiver"
            android:description="@string/app_name"
            android:label="CityWide"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.intent.action.PROFILE_PROVISIONING_COMPLETE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".view2"
            android:label="CityWide">
        </activity>
        <activity android:name=".view3"
            android:label="CityWide">
        </activity>
        <activity android:name=".view4"
            android:label="CityWide">
        </activity>
        <activity android:name=".view5"
            android:label="CityWide">
        </activity>
        <activity android:name=".lastpage"
            android:label="CityWide">
        </activity>
        <activity android:name=".viewpdf1"
            android:label="CityWide 2017 MULTI STATE Unit FDD"></activity>
        <activity android:name=".viewpdf2"
            android:label="CityWide Educatio Process"></activity>
        <activity android:name=".viewpdf3"
            android:label="CityWide Franchise Performance Team Guide"></activity>
        <activity android:name=".viewpdf4"
            android:label="Yearbook May 2017"></activity>
        <activity android:name=".FullImageActivity"></activity>
    </application>

</manifest>